
<h2>{{ studentTitle }}</h2>
<table border="1" style="background: lightcyan">
  <button class="card card-small" (click)="addStudent()" style="color: white; background: #1976d2">Add new student!
  </button>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Grade</th>
    <th>Subject</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{ student.firstName }}</td>
    <td>{{ student.lastName }}</td>
    <td>{{ student.age }}</td>
    <td>{{ student.grade }}</td>
    <td>{{ student.subject }}</td>
  </tr>
</table>

<app-student-form></app-student-form>
